<nav class="flex flex-wrap items-center justify-between gap-4 fixed top-0 w-full bg-white shadow-md z-10 px-4 py-2">
  <div class="flex items-center justify-between w-full">

    <div class="flex flex-col">
      <!--Title-->
      <h1 class="text-3xl font-bold truncate" (click)="redirectToHome()"> {{ title }} </h1>
      @if((loggedIn$ | async)?.loginState )
      {
      <span class="text-sm ">Logged in as {{ (loggedIn$ | async)?.user?.name | capitalize}}</span>
      }
    </div>

    <!--Mobile-->
    <div class="w-[50vw] flex flex-col md:flex-row items-center justify-between">
      <!-- Dropdown Button for Mobile -->
      <div class="relative ml-auto">
        <button (mouseup)="isMenuOpen = !isMenuOpen" type="button"
          class="block md:hidden border-2 border-amber-400 bg-amber-500 text-white font-bold py-2 px-4 rounded">
          Menu
        </button>

        <!-- Dropdown Menu -->
        <div class="md:hidden absolute right-0  bg-white border border-gray-200 shadow-lg rounded-md z-10"
          [class.hidden]="!isMenuOpen" (mouseup)="isMenuOpen = true">
          <button routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="block w-full text-left px-4 py-2 text-sm text-gray-800 hover:bg-gray-100">Search recipes</button>

          <!-- Buttons for logged-in state -->
          @if((loggedIn$ | async)?.loginState){

          <button routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="block w-full text-left px-4 py-2 text-sm text-gray-800 hover:bg-gray-100">Profile</button>
          <button (click)="logout()"
            class="block w-full text-left px-4 py-2 text-sm text-gray-800 hover:bg-gray-100">Logout</button>

          }
          @else{
          <button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="block w-full text-left px-4 py-2 text-sm text-gray-800 hover:bg-gray-100">Login</button>
          <button routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page"
            class="block w-full text-left px-4 py-2 text-sm text-gray-800 hover:bg-gray-100">Register</button>
          }
        </div>
      </div>

    </div>

    <!--Desktop-->
    <!-- Buttons -->
    <div class="hidden md:flex gap-4 min-w-[60%] justify-end">
      <button routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="border-2 border-amber-400 bg-amber-500 hover:bg-amber-400 text-white font-bold py-2 px-4 rounded">Search
        for recipes</button>
      <!-- for logged-in state -->
      @if((loggedIn$ | async)?.loginState){

      <button routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="border-2 border-amber-400 bg-amber-500 hover:bg-amber-400 text-white font-bold py-2 px-4 rounded">Profile</button>
      <button (click)="logout()"
        class="border-2 border-amber-400 bg-amber-500 hover:bg-amber-400 text-white font-bold py-2 px-4 rounded">Logout</button>
      }
      @else {
      <!--not logged in-->
      <button routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="border-2 border-amber-400 bg-amber-500 hover:bg-amber-400 text-white font-bold py-2 px-4 rounded">Login</button>
      <button routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page"
        class="border-2 border-amber-400 bg-amber-500 hover:bg-amber-400 text-white font-bold py-2 px-4 rounded">Register</button>
      }
    </div>
  </div>
</nav>

<main class="main h-screen bg-gradient-to-br from-beige to-latte flex flex-col items-center justify-center">
  <!-- all pages through routes  -->
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>