<div class="h-screen flex justify-center items-center mt-11 md:mx-2 md:mt-0">
   <div class="h-[85vh] max-w-[80vw] mx-auto p-8 bg-white rounded-lg shadow-md md:max-w-[60vw]">
      <div class="flex justify-center flex-col items-center">
         <h2 class="text-2xl font-bold mb-4">{{ recipe?.label }}</h2>
         <img src="{{ recipe?.image }}" alt="{{ recipe?.label }}" class="rounded-lg" />
      </div>

      <div class="grid grid-cols-1 gap-4 mb-2">
         <h3 class="text-lg font-semibold flex ">Recipe Details:</h3>
         <article class=" border-2 border-stone-200 grid grid-cols-3 gap-4 p-2">
            <div>
               <ul>
                  @for (line of recipe?.ingredientLines; track line) {
                  <li>{{ line }}</li>
                  }
               </ul>
               <p class="text-md text-stone-700">
                  <span class="font-semibold">Cuisine:</span>
                  {{ recipe?.cuisineType }}
               </p>
               <p class="text-md text-stone-700"><span class="font-semibold">Good for: </span> {{ recipe?.mealType }}
               </p>
               <p class="text-md text-stone-700"><span class="font-semibold">Total Time: </span>{{ recipe?.totalTime }}
                  minutes</p>
            </div>

            <div>
               <p class="text-md text-stone-700"><span class="font-semibold">Category: </span> {{ recipe?.dishType }}
               </p>
               <p class="text-md text-stone-700"><span class="font-semibold">!Cautions!: </span>{{ recipe?.cautions }}
               </p>

            </div>

            <!-- Add an empty div as a placeholder for the third column -->
            <div>
               <!-- <p class="text-md text-stone-700"><span class="font-semibold">Cook this recipe now: </span>{{
                  recipe?.source }}
               </p> -->
            </div>
         </article>

         <br />
      </div>

      <div>
         <p class="text-sm text-stone-800"><span class="font-semibold">Dietary info: </span>{{ recipe?.healthLabels
            }}</p>
      </div>
   </div>
</div>